## LIBRARIES

In [7]:
import pandas as pd
import os
import sys
import os

# Add the 'src' folder to the Python path
sys.path.append(os.path.abspath('../02_Src'))

from data_cleaning import clean_data

### 1. Load data

In [8]:
df = pd.read_csv('../03_Data/01_Raw/Sample Media Spend Data.csv')

### 2. Apply cleaning function

In [9]:
df_clean = clean_data(df)

Important: Look at 01_data_exploration -> There is no missing data needed to be handled

### 3. Save cleaned data

In [10]:
df_clean.to_csv('../03_Data/02_Processed/media_spend_clean.csv', index=False)

Display head

In [11]:
df_clean.head()

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales
0,A,2018-01-06,392,422,408,349895.0107,73580,12072,682,59417
1,A,2018-01-13,787,904,110,506270.2176,11804,9499,853,56806
2,A,2018-01-20,81,970,742,430042.1538,52232,17048,759,48715
3,A,2018-01-27,25,575,65,417745.6658,78640,10207,942,72047
4,A,2018-02-03,565,284,295,408505.8012,40561,5834,658,56235