## LIBRARIES

In [1]:
import pandas as pd
import os
import sys
import numpy as np

# Add the 'src' folder to the Python path
sys.path.append(os.path.abspath('../02_Src'))

from feature_engineering import add_seasonal_features, apply_adstock

### 1. Load data

In [2]:
df = pd.read_csv('../03_Data/02_Processed/media_spend_clean.csv')

### 2. Data Processing

In [3]:
df['Calendar_Week'] = pd.to_datetime(df['Calendar_Week'])

### 3. Seasonality features

Note: There was no info on country, thus we are only indluding those "popular" rather than country - specific christmas effects

In [4]:
df = add_seasonal_features(df)

### 4. Define media channels to apply adstock to

In [5]:
media_channels = [
    'Facebook_Impressions',
    'Google_Impressions',
    'Email_Impressions',
    'Affiliate_Impressions',
    'Paid_Views'
]

### 5. Apply adstock with default decay (0.5)

In [6]:
for col in media_channels:
    df[f'{col}_adstock'] = apply_adstock(df[col], decay=0.5)
    df[f'{col}_adstock_log'] = np.log1p(df[f'{col}_adstock'])

### 6. Save data

In [7]:
df.to_csv('../03_Data/02_Processed/media_spend_final_features.csv', index=False)

Display head

In [8]:
df.head()

,Division,Calendar_Week,Paid_Views,Organic_Views,Google_Impressions,Email_Impressions,Facebook_Impressions,Affiliate_Impressions,Overall_Views,Sales,...,Facebook_Impressions_adstock,Facebook_Impressions_adstock_log,Google_Impressions_adstock,Google_Impressions_adstock_log,Email_Impressions_adstock,Email_Impressions_adstock_log,Affiliate_Impressions_adstock,Affiliate_Impressions_adstock_log,Paid_Views_adstock,Paid_Views_adstock_log
0,A,2018-01-06,392,422,408,349895.0107,73580,12072,682,59417,...,73580.00,11.206142,408.00,6.013715,349895.010700,12.765391,12072.000,9.398727,392.000,5.973810
1,A,2018-01-13,787,904,110,506270.2176,11804,9499,853,56806,...,48594.00,10.791276,314.00,5.752573,681217.722950,13.431639,15535.000,9.650915,983.000,6.891626
2,A,2018-01-20,81,970,742,430042.1538,52232,17048,759,48715,...,76529.00,11.245438,899.00,6.802395,770651.015275,13.554992,24815.500,10.119264,572.500,6.351758
3,A,2018-01-27,25,575,65,417745.6658,78640,10207,942,72047,...,116904.50,11.669121,514.50,6.245137,803071.173437,13.596200,22614.750,10.026402,311.250,5.743804
4,A,2018-02-03,565,284,295,408505.8012,40561,5834,658,56235,...,99013.25,11.503019,552.25,6.315810,810041.387919,13.604842,17141.375,9.749309,720.625,6.581506